p.sangría {
  text-indent: 5%;
}

.hero-nature.carousel-hero.jumbotron {
  font-family: monospace;
}

div.carousel-hero h1.hero-title, div-carousel-hero p.hero-subtitle {
  font-family: monospace;
}

