.received-msg {
    color: white;
    background-color: darkslategray;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}

.sent-msg {
    color: white;
    background-color: rgb(56, 9, 185);
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}

.msg-container span {
    padding: 10px;
    margin-bottom: 2.5px;
}

div.max-msg-container {
    max-height: 75%;
}

div.max-msg-container card-body {
    overflow-y: scroll;
}

textarea.textarea-msg {
    height: 100%;
    width: 100%;
    resize: none;
}

p.p-contacto {
    word-wrap: break-word;
    overflow: hidden;
}